<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/update.css"/>
</head>
<body>
    <div class="card">
    <h1>Enter the values to update</h1>
    <form method="post" id="updateform">
        <label>Title</label>
        <input type="text" placeholder="title" name="title"/>
        <br/><br/>
        <label>Description</label>
        <textarea rows="5" cols="50" name="description"></textarea>
        <br/><br/>
        <button type="submit">SEND</button>
        <br/><br/>
    </form>
</div>
    <script src="/js/updateform.js"> </script>
</body>
</html>